/* Fonts */
@font-face {
	font-family: "Poppins";
	src: url("PoppinsBold.ttf");
}

@font-face {
	font-family: "Inter";
	src: url("Inter.ttf");
}

@font-face {
	font-family: "Inter Italic";
	src: url("InterItalic.ttf");
}

/* Root Background */
.root-bg {
	-fx-background-color: #ffc2d1;
}

/* Form Container */
.form-box {
	-fx-background-color: rgba(255,255,255,0.95);
	-fx-background-radius: 20;
	-fx-padding: 30;
}

/* Titles */
.title-label {
	-fx-font-family: "Poppins";
	-fx-font-size: 32px;
}

.subtitle {
	-fx-font-family: "Inter Italic";
	-fx-font-size: 14px;
	-fx-text-fill: #555;
}

/* Search Bar */
.search-bar {
	-fx-pref-width: 380px;
	-fx-pref-height: 40px;
	-fx-font-family: "Inter";
	-fx-font-size: 14px;

	-fx-background-radius: 8;
	-fx-border-radius: 8;
	-fx-padding: 6 10;
}

/* Course List */
.course-list {
	-fx-pref-height: 350px;
	-fx-background-radius: 8;
	-fx-border-radius: 8;
	-fx-padding: 6;
}

.course-cell {
	-fx-padding: 6 4 6 4;
}

.course-checkbox {
	-fx-font-family: "Inter";
	-fx-font-size: 14px;
	-fx-padding: 5 0 5 0;
}

.course-details {
	-fx-font-family: "Inter";
	-fx-font-size: 12px;
	-fx-text-fill: #555;
}

/* Highlight Cell */
.list-cell:selected {
	-fx-background-color: #ffe0eb;
}

.list-cell:selected .label,
.list-cell:selected .check-box {
	-fx-text-fill: black;
}

/* Button */
.continue-btn {
	-fx-font-family: "Poppins";
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	    
	-fx-background-radius: 8;
	-fx-text-fill: #ffe5ec;
	-fx-background-color: #fb6f92;

	-fx-pref-width: 300px;
	-fx-pref-height: 40px;
}

.continue-btn:hover {
	-fx-background-color: #ff85ac;
}

/* Toast Pop-up */
.toast {
	-fx-background-color: #fb6f92;
	-fx-text-fill: #ffe5ec;
	-fx-padding: 12px 20px;
	-fx-background-radius: 20;
	-fx-font-family: "Inter";
	-fx-font-size: 14px;
}

.toast-root {
	-fx-background-color: transparent;
	-fx-padding: 10;
}
