/* Fonts */
@font-face {
	font-family: "SeibiOhkidoUltraBold-Rg";
	src: url("SeibiOhkido.otf");
}

@font-face {
	font-family: "Poppins";
	src: url("PoppinsBold.ttf");
}

@font-face {
	font-family: "Inter Italic";
	src: url("InterItalic.ttf");
}

@font-face {
	font-family: "Inter";
	src: url("Inter.ttf");
}

/* Text Styling */
.jp-title {
	-fx-font-family: "SeibiOhkidoUltraBold-Rg";
	-fx-font-size: 80px;
	-fx-fill: black;
}

.sub-title {
	-fx-font-family: "Poppins";
	-fx-font-size: 42px;
	-fx-fill: black;
}

.tagline {
	-fx-font-family: "Inter Italic";
	-fx-font-size: 22px;
	-fx-fill: black;
}

.version {
	-fx-font-family: "Inter";
	-fx-font-size: 10px;
	-fx-fill: black;
}

/* Buttons */
.pink-button {
	-fx-font-family: "Poppins";
	-fx-font-size: 26px;
	-fx-font-weight: bold;

	-fx-background-radius: 8;
	-fx-text-fill: #ffe5ec;
	-fx-background-color: #fb6f92;

	-fx-pref-width: 200px;
	-fx-pref-height: 45px;
}

.pink-button:hover {
	-fx-background-color: #ff85ac;
}
